___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to 'Data Cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to 'Filling Data', in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation is done as well.
* **The third part** is related to 'Handling Outliers of Data' via Visualization libraries. So, some insights will be extracted.

**``NOTE:``**  However, you are free to create your own style. You do NOT have to stick to the steps above. We, the DA & DV instructors, recommend you study each part separately to create a source notebook for each part title for your further studies.

# PART- 1 `( Data Cleaning )`

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10,6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [2]:
df = pd.read_json('scout_car.json', lines=True)

In [3]:
df_copy=df.copy()

In [4]:
df.head(3).T

,0,1,2
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,"56,013 km","80,000 km","83,450 km"
registration,01/2016,03/2017,02/2016
prev_owner,2 previous owners,None,1 previous owner
kW,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]"
Full Service,"[\n, \n]",NaN,NaN
Non-smoking Vehicle,"[\n, \n]",NaN,NaN
null,[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]"
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]"
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n]
Gears,NaN,[\n7\n],NaN
Country version,NaN,NaN,NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [6]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [7]:
df['Comfort & Convenience']=df['\nComfort & Convenience\n']
df['Entertainment & Media']=df['\nEntertainment & Media\n']
df['Extras']=df['\nExtras\n']
df['Safety & Security']=df['\nSafety & Security\n']

In [8]:
df_cloumn = ['\nComfort & Convenience\n','\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n']
df.drop(df_cloumn, axis=1, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40  description                    15919 non-null  object
 41  Emission Label                 3985 non-null   object
 42  Gears                          11207 non-null  object
 43  Country version                7586 non-null   object
 44  Electricity consumption        137 non-null    object
 45  Last Service Date              566 non-null    object
 46  Other Fuel Types               880 non-null    object
 47  Availability                   635 non-null    object
 48  Last Timing Belt Service Date  16 non-null     object
 49  Available from                 272 non-null    object
 50  Comfort & Convenience          14999 non-null  object
 51  Entertainment & Media          14545 non-null  object
 52  Extras                         12957 non-null  object
 53  Safety & Security              14937 non-null  object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [10]:
df.shape

(15919, 54)

In [11]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
Comfort & Convenience              920
Entertainment & Media             1374
Extras                            2962
Safety & Security                  982
dtype: int64

In [12]:
(df.isnull().sum()/len(df)*100).sort_values(ascending=False)

kW                              100.000
Last Timing Belt Service Date    99.899
Electricity consumption          99.139
Available from                   98.291
Last Service Date                96.445
Availability                     96.011
Other Fuel Types                 94.472
Next Inspection                  77.794
Inspection new                   75.300
Emission Label                   74.967
Model Code                       68.729
Non-smoking Vehicle              54.916
Country version                  52.346
Full Service                     48.395
Weight                           43.809
Drive chain                      43.081
prev_owner                       42.892
Previous Owners                  41.711
Paint Type                       36.259
Cylinders                        35.681
Warranty                         34.047
Gears                            29.600
vat                              28.350
Body Color Original              23.613
Upholstery                       23.368
Offer Number                     19.945
Emission Class                   18.977
Extras                           18.607
Consumption                      11.973
CO2 Emission                     11.357
First Registration               10.032
Entertainment & Media             8.631
Safety & Security                 6.169
Nr. of Seats                      6.137
Comfort & Convenience             5.779
Body Color                        3.750
Displacement                      3.116
Nr. of Doors                      1.332
Body                              0.377
body_type                         0.377
short_description                 0.289
Type                              0.013
Model                             0.000
km                                0.000
make_model                        0.000
price                             0.000
hp                                0.000
registration                      0.000
description                       0.000
Fuel                              0.000
Make                              0.000
Gearing Type                      0.000
null                              0.000
url                               0.000
dtype: float64

### Droping columns that have %80 percent and higher of missing values.

In [13]:
df.drop(["kW", 
         "Last Timing Belt Service Date", 
         "Electricity consumption", 
         "Available from", 
         "Last Service Date",
         "Availability", 
         "Other Fuel Types"], axis=1, inplace=True)

In [14]:
df.drop("null", axis=1, inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   url                    15919 non-null  object
 1   make_model             15919 non-null  object
 2   short_description      15873 non-null  object
 3   body_type              15859 non-null  object
 4   price                  15919 non-null  int64
 5   vat                    11406 non-null  object
 6   km                     15919 non-null  object
 7   registration           15919 non-null  object
 8   prev_owner             9091 non-null   object
 9   hp                     15919 non-null  object
 10  Type                   15917 non-null  object
 11  Previous Owners        9279 non-null   object
 12  Next Inspection        3535 non-null   object
 13  Inspection new         3932 non-null   object
 14  Warranty               10499 non-null  object
 15  Full Service           8215 non-null   object
 16  Non-smoking Vehicle    7177 non-null   object
 17  Make                   15919 non-null  object
 18  Model                  15919 non-null  object
 19  Offer Number           12744 non-null  object
 20  First Registration     14322 non-null  object
 21  Body Color             15322 non-null  object
 22  Paint Type             10147 non-null  object
 23  Body Color Original    12160 non-null  object
 24  Upholstery             12199 non-null  object
 25  Body                   15859 non-null  object
 26  Nr. of Doors           15707 non-null  object
 27  Nr. of Seats           14942 non-null  object
 28  Model Code             4978 non-null   object
 29  Gearing Type           15919 non-null  object
 30  Displacement           15423 non-null  object
 31  Cylinders              10239 non-null  object
 32  Weight                 8945 non-null   object
 33  Drive chain            9061 non-null   object
 34  Fuel                   15919 non-null  object
 35  Consumption            14013 non-null  object
 36  CO2 Emission           14111 non-null  object
 37  Emission Class         12898 non-null  object
 38  description            15919 non-null  object
 39  Emission Label         3985 non-null   object
 40  Gears                  11207 non-null  object
 41  Country version        7586 non-null   object
 42  Comfort & Convenience  14999 non-null  object
 43  Entertainment & Media  14545 non-null  object
 44  Extras                 12957 non-null  object
 45  Safety & Security      14937 non-null  object
dtypes: int64(1), object(45)
memory usage: 5.6+ MB

### url

In [16]:
df.url.value_counts()

https://www.autoscout24.com//offers/opel-insignia-st-business-auto-2-0-diesel-170cv-diesel-grey-b1d78c2b-e0c8-40fd-a673-50b9b97a585f                      1
https://www.autoscout24.com//offers/audi-a3-sportback-2-0-tdi-xenon-acc-navi-spurhalteass-diesel-grey-90d3a671-4cc0-4017-ab15-1cacb14df327                1
https://www.autoscout24.com//offers/opel-insignia-1-6-cdti-at-innov-matrix-navi-kamera-diesel-grey-47bd402b-39e5-47e8-8265-912a75ac2756                   1
https://www.autoscout24.com//offers/opel-astra-cool-sound-1-0-turbo-aktion-gasoline-red-f26286ad-3b7f-470d-919d-7ce95c2c0224                              1
https://www.autoscout24.com//offers/opel-astra-sportstourer-1-6-cdi-100kweuro-6-exklusiv-diesel-black-92a20890-857e-4de0-832d-5d9917651bd1                1
                                                                                                                                                         ..
https://www.autoscout24.com//offers/opel-insignia-1-6-cdti-136-cv-selectve-diesel-grey-f7eef046-c181-417e-aa2a-09025fa80641                               1
https://www.autoscout24.com//offers/opel-insignia-sports-tourer-edition-handy-navigation-17-kli-gasoline-69c24b0a-0c54-4641-a425-762274713539             1
https://www.autoscout24.com//offers/opel-astra-sports-tourer-2016-1-4i-comfort-gasoline-silver-ffbba169-7683-416b-9d58-d3a4ec183561                       1
https://www.autoscout24.com//offers/opel-insignia-1-6cdti-s-diesel-grey-77f47da0-4f25-4906-aaca-96df7bdd17cb                                              1
https://www.autoscout24.com//offers/renault-clio-estate-1-2-dynamique-r-link-camera-clima-pdc-autom-gasoline-grey-e972154e-503c-4f8e-a68c-00e67b0d17d0    1
Name: url, Length: 15919, dtype: int64

In [17]:
df.drop("url", axis=1, inplace=True)

### make_model

In [18]:
df.make_model.value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

### short_description

In [19]:
df.short_description.value_counts()

SPB 1.6 TDI 116 CV S tronic Sport                     64
1.4 66kW (90CV) Selective                             40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH                 38
SPB 30 TDI S tronic Business                          35
SPB 30 TFSI S tronic Admired                          35
                                                      ..
SPB 2.0 TDI S tronic Design FULL OPTIONAL "17          1
K 5türig Active Start Stop 1.4 Turbo EU6d-T            1
INITIALE Paris BLUE dCi 200 EDC                        1
30TFSI 2xS-LINE LED PRIVACY NAVI GRA PDC+ ASS          1
5-turig 1.4 Turbo BUSINESS EXECUTIVE Start/Stop Au     1
Name: short_description, Length: 10001, dtype: int64

In [20]:
df.drop("short_description", axis=1, inplace=True)

### body_type

In [21]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

### price

In [22]:
df.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
48490      1
36180      1
40745      1
9545       1
34815      1
Name: price, Length: 2956, dtype: int64

### vat

In [23]:
df.vat.value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

### km

In [24]:
df.km.value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
31,987 km       1
53,852 km       1
97,930 km       1
50,998 km       1
421 km          1
Name: km, Length: 6690, dtype: int64

In [25]:
df.km = df.km.str.replace(",","").str.rstrip(" km")

In [26]:
df.km= df.km.replace("-", np.nan)

In [27]:
df.km=df.km.astype("float")

In [28]:
df.km.value_counts(dropna=False)

10.000       1045
nan          1024
1.000         367
5.000         170
50.000        148
             ...
8329.000        1
267.000         1
1060.000        1
73652.000       1
49320.000       1
Name: km, Length: 6690, dtype: int64

### registration

In [29]:
df.registration.value_counts(dropna=False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
04/2018     541
01/2019     541
02/2018     539
03/2016     536
06/2018     532
04/2016     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
12/2019       1
11/2019       1
Name: registration, dtype: int64

In [30]:
df["First Registration"].value_counts()

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
Name: First Registration, dtype: int64

Since the month is not important in the vehicle model year review, the registration will be droped and the first registration will be continued.

In [31]:
df.drop("registration", axis=1, inplace=True)

### prev_owner & Previous_Owners

In [32]:
df.prev_owner.value_counts(dropna=False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [33]:
df["Previous Owners"].value_counts(dropna=False)

\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n96 g CO2/km (comb)\n]                                                                 1
[\n1\n, \n181 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n1\n, \n, 6.7 l/100 km (comb), \n, 8.6 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n1\n, \n102 g CO2/km (comb)\n]                                                                1
Name: Previous Owners, Length: 103, dtype: int64

In [34]:
df["Previous_Owners"] = [item[0] if type(item) == list else item for item in df["Previous Owners"]]
df["Previous_Owners"]

0        \n2\n
1          NaN
2        \n1\n
3        \n1\n
4        \n1\n
         ...
15914      NaN
15915    \n1\n
15916    \n1\n
15917      NaN
15918    \n1\n
Name: Previous_Owners, Length: 15919, dtype: object

In [35]:
df["Previous_Owners"] = df["Previous_Owners"].str.strip("\n").astype('float')

In [36]:
df["Previous_Owners"].value_counts(dropna=False)

1.000    8294
nan      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: Previous_Owners, dtype: int64

In [37]:
df.drop(["prev_owner", "Previous Owners"], axis=1, inplace=True)

In [38]:
type(df["Previous_Owners"][0])

numpy.float64

In [39]:
df["Previous_Owners"].value_counts(dropna=False)

1.000    8294
nan      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: Previous_Owners, dtype: int64

### hp

In [40]:
df.hp.value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
70 kW      888
125 kW     707
51 kW      695
55 kW      569
118 kW     516
92 kW      466
121 kW     392
147 kW     380
77 kW      345
56 kW      286
54 kW      276
103 kW     253
87 kW      232
165 kW     194
88 kW      177
60 kW      160
162 kW      98
- kW        88
74 kW       81
96 kW       72
71 kW       59
101 kW      47
67 kW       40
154 kW      39
122 kW      35
119 kW      30
164 kW      27
135 kW      24
52 kW       22
82 kW       22
1 kW        20
78 kW       20
146 kW      18
294 kW      18
141 kW      16
57 kW       10
120 kW       8
104 kW       8
112 kW       7
191 kW       7
155 kW       6
117 kW       6
184 kW       5
90 kW        4
76 kW        4
65 kW        4
168 kW       3
80 kW        3
149 kW       3
98 kW        3
93 kW        3
53 kW        2
86 kW        2
89 kW        2
270 kW       2
127 kW       2
143 kW       2
63 kW        2
167 kW       2
40 kW        2
150 kW       2
228 kW       2
140 kW       2
44 kW        1
4 kW         1
123 kW       1
163 kW       1
239 kW       1
9 kW         1
115 kW       1
137 kW       1
132 kW       1
195 kW       1
84 kW        1
75 kW        1
133 kW       1
Name: hp, dtype: int64

In [41]:
df["hp_kW"] = df.hp.str.rstrip(" kW")

In [42]:
df["hp_kW"] = df.hp_kW.replace("-", np.nan)

In [43]:
df["hp_kW"] =df.hp_kW.astype("float")

In [44]:
df.drop("hp", axis=1, inplace=True)

### Type

In [45]:
df["Type"].value_counts()

[, Used, , Diesel (Particulate Filter)]                                                                                            3475
[, Used, , Diesel]                                                                                                                 2516
[, Used, , Gasoline]                                                                                                               2367
[, Used, , Super 95]                                                                                                               1818
[, Pre-registered, , Super 95]                                                                                                      500
                                                                                                                                   ...
[, Pre-registered, , Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98]       1
[, Pre-registered, , CNG]                                                                                                             1
[, New, , Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]                  1
[, Employee's car, , Super E10 95 (Particulate Filter)]                                                                               1
[, Pre-registered, , Regular/Benzine 91 / Super 95]                                                                                   1
Name: Type, Length: 169, dtype: int64

In [46]:
df["Type"] = df.Type.str[1]

In [47]:
df.Type.value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

### Next Inspection

In [48]:
df["Next Inspection"].value_counts()

\n04/2022\n                                                                                        62
\n03/2021\n                                                                                        38
\n03/2022\n                                                                                        36
\n06/2021\n                                                                                        34
\n01/2022\n                                                                                        32
                                                                                                   ..
[\n02/2021\n, \n149 g CO2/km (comb)\n]                                                              1
[\n07/2021\n, \n116 g CO2/km (comb)\n]                                                              1
[\n09/2019\n, \n107 g CO2/km (comb)\n]                                                              1
[\n10/2020\n, \n141 g CO2/km (comb)\n]                                                              1
[\n03/2022\n, \n, 6.3 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.4 l/100 km (country), \n]     1
Name: Next Inspection, Length: 1399, dtype: int64

In [49]:
df["Inspection new"].value_counts()

[\nYes\n, \nEuro 6\n]                                                                          523
\nYes\n                                                                                        362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                             174
[\nYes\n, \n4 (Green)\n]                                                                       166
[\nYes\n, \nEuro 6d-TEMP\n]                                                                    134
                                                                                              ...
[\nYes\n, \n, 6.7 l/100 km (comb), \n, 8.6 l/100 km (city), \n, 5.6 l/100 km (country), \n]      1
[\nYes\n, \n, 4.8 l/100 km (comb), \n, 5.7 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[\nYes\n, \n89 g CO2/km (comb)\n]                                                                1
[\nYes\n, \n, 4.4 l/100 km (comb), \n, 5.4 l/100 km (city), \n, 5 l/100 km (country), \n]        1
[\nYes\n, \n, 6 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 5 l/100 km (country), \n]          1
Name: Inspection new, Length: 202, dtype: int64

In [50]:
df.drop("Next Inspection", axis=1,inplace=True)

Next Inspection has been dropped since it was deemed appropriate to use the audit criteria instead of the month information for the audit.

### Inspection new

In [51]:
df["Inspection_new"] = [item[0] if type(item) == list else item for item in df["Inspection new"]]
df["Inspection_new"] = df["Inspection_new"].str.strip("\n")

In [52]:
df.Inspection_new.value_counts(dropna=False)

NaN    11987
Yes     3932
Name: Inspection_new, dtype: int64

In [53]:
df.drop("Inspection new",axis=1, inplace=True)

### Warranty

In [54]:
df.Warranty.value_counts()

[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
[\n, \n, \n4 (Green)\n]                                                                             517
                                                                                                   ...
[\n36 months\n, \n, 6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n33 months\n, \nEuro 6\n]                                                                           1
[\n14 months\n, \n120 g CO2/km (comb)\n]                                                              1
[\n6 months\n, \n108 g CO2/km (comb)\n]                                                               1
[\n72 months\n, \n130 g CO2/km (comb)\n]                                                              1
Name: Warranty, Length: 515, dtype: int64

In [55]:
df["Warranty2"] = [item[0] if type(item) == list else item for item in df["Warranty"]]
df["Warranty2"] = df["Warranty2"].str.strip("\n")

In [56]:
df["Warranty2"].value_counts()

             5646
12 months    2594
24 months    1118
60 months     401
36 months     279
48 months     149
6 months      125
72 months      59
3 months       33
23 months      11
18 months      10
20 months       7
25 months       6
2 months        5
16 months       4
50 months       4
26 months       4
13 months       3
34 months       3
19 months       3
1 months        3
4 months        3
14 months       2
28 months       2
11 months       2
21 months       2
46 months       2
17 months       2
45 months       2
22 months       2
9 months        2
56 months       1
8 months        1
10 months       1
47 months       1
15 months       1
40 months       1
7 months        1
30 months       1
33 months       1
65 months       1
49 months       1
Name: Warranty2, dtype: int64

In [57]:
df.drop(["Warranty", "Warranty2"], axis=1, inplace=True)

During the modeling phase, it was understood that there was too much variety in the Warranty column, so it could not be included in the modeling and the column was dropped.

### Full Service

In [58]:
df["Full Service"].value_counts(dropna=False)

NaN                                                                                           7704
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
                                                                                              ...
[\n, \n, \n, 4.7 l/100 km (comb), \n, 5.4 l/100 km (city), \n, 4.2 l/100 km (country), \n]       1
[\n, \n, \n, 5 l/100 km (comb), \n, 5.9 l/100 km (city), \n, 4.5 l/100 km (country), \n]         1
[\n, \n, \n87 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.1 l/100 km (country), \n]       1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
Name: Full Service, Length: 123, dtype: int64

In [59]:
df.drop("Full Service", axis=1, inplace=True)

### Non-smoking Vehicle

In [60]:
df["Non-smoking Vehicle"].value_counts()

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
[\n, \n, \n120 g CO2/km (comb)\n]                                                               63
[\n, \n, \n85 g CO2/km (comb)\n]                                                                46
[\n, \n, \n107 g CO2/km (comb)\n]                                                               36
[\n, \n, \n104 g CO2/km (comb)\n]                                                               36
[\n, \n, \n153 g CO2/km (comb)\n]                                                               31
[\n, \n, \n124 g CO2/km (comb)\n]                                                               29
[\n, \n, \n1 (No sticker)\n]                                                                    24
[\n, \n, \n99 g CO2/km (comb)\n]                                                                23
[\n, \n, \n97 g CO2/km (comb)\n]                                                                20
[\n, \n, \n106 g CO2/km (comb)\n]                                                               20
[\n, \n, \n108 g CO2/km (comb)\n]                                                               19
[\n, \n, \n109 g CO2/km (comb)\n]                                                               18
[\n, \n, \n100 g CO2/km (comb)\n]                                                               18
[\n, \n, \n105 g CO2/km (comb)\n]                                                               18
[\n, \n, \n113 g CO2/km (comb)\n]                                                               18
[\n, \n, \nEuro 6c\n]                                                                           17
[\n, \n, \n98 g CO2/km (comb)\n]                                                                15
[\n, \n, \n129 g CO2/km (comb)\n]                                                               14
[\n, \n, \n131 g CO2/km (comb)\n]                                                               13
[\n, \n, \n114 g CO2/km (comb)\n]                                                               12
[\n, \n, \n133 g CO2/km (comb)\n]                                                               12
[\n, \n, \n103 g CO2/km (comb)\n]                                                               12
[\n, \n, \n116 g CO2/km (comb)\n]                                                               11
[\n, \n, \n135 g CO2/km (comb)\n]                                                               11
[\n, \n, \n102 g CO2/km (comb)\n]                                                               11
[\n, \n, \n143 g CO2/km (comb)\n]                                                               10
[\n, \n, \n127 g CO2/km (comb)\n]                                                               10
[\n, \n, \nEuro 6d\n]                                                                            9
[\n, \n, \n92 g CO2/km (comb)\n]                                                                 9
[\n, \n, \n112 g CO2/km (comb)\n]                                                                9
[\n, \n, \n5 (Blue)\n]                                                                           8
[\n, \n, \n118 g CO2/km (comb)\n]                                                                8
[\n, \n, \n128 g CO2/km (comb)\n]                                                                7
[\n, \n, \n147 g CO2/km (comb)\n]                                                                7
[\n, \n, \n139 g CO2/km (comb)\n]                                                                7
[\n, \n, \n126 g CO2/km (comb)\n]                                                                6
[\n, \n, \n140 g CO2/km (comb)\n]                                                                6
[\n, \n, \n117 g CO2/km (comb)\n]                                                                6
[\n, \n, \n137 g CO2/km (comb)\n]                                                                6
[\n, \n, \n115 g CO2/km (comb)\n]                                                                5
[\n, \n, \n130 g CO2/km (comb)\n]                                                                5
[\n, \n, \nEuro 5\n]                                                                             4
[\n, \n, \n, 5.2 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 4.8 l/100 km (country), \n]       4
[\n, \n, \n151 g CO2/km (comb)\n]                                                                4
[\n, \n, \n123 g CO2/km (comb)\n]                                                                4
[\n, \n, \n148 g CO2/km (comb)\n]                                                                3
[\n, \n, \n119 g CO2/km (comb)\n]                                                                3
[\n, \n, \n157 g CO2/km (comb)\n]                                                                3
[\n, \n, \n136 g CO2/km (comb)\n]                                                                3
[\n, \n, \n149 g CO2/km (comb)\n]                                                                3
[\n, \n, \n95 g CO2/km (comb)\n]                                                                 3
[\n, \n, \n110 g CO2/km (comb)\n]                                                                3
[\n, \n, \n125 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 5.2 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.4 l/100 km (country), \n]       2
[\n, \n, \n138 g CO2/km (comb)\n]                                                                2
[\n, \n, \n121 g CO2/km (comb)\n]                                                                2
[\n, \n, \n134 g CO2/km (comb)\n]                                                                2
[\n, \n, \n142 g CO2/km (comb)\n]                                                                2
[\n, \n, \n90 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n111 g CO2/km (comb)\n]                                                                2
[\n, \n, \n166 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 6.4 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n156 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n, \n, \n146 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.3 l/100 km (comb), \n, 8 l/100 km (city), \n, 5.3 l/100 km (country), \n]         1
[\n, \n, \n152 g CO2/km (comb)\n]                                                                1
[\n, \n, \n154 g CO2/km (comb)\n]                                                                1
[\n, \n, \n82 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n144 g CO2/km (comb)\n]                                                                1
[\n, \n, \n132 g CO2/km (comb)\n]                                                                1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n169 g CO2/km (comb)\n]                                                                1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n159 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n189 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 1.6 l/100 km (comb), \n, \n, \n]                                                    1
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n172 g CO2/km (comb)\n]                                                                1
Name: Non-smoking Vehicle, dtype: int64

In [61]:
df.drop("Non-smoking Vehicle", axis=1,inplace=True)

### Make

In [62]:
df.Make.value_counts()

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [63]:
df.drop("Make", axis=1, inplace=True)

The Make column were dropped because the make_model column contains data.

### Model

In [64]:
df.drop("Model", axis=1, inplace=True)

The Model column were dropped because the make_model column contains data.

### Offer Number

In [65]:
df["Offer Number"].value_counts()

[\nTA76392\n]             27
[\nUN89904\n]             27
[\nTP62881\n]             27
[\nXT61649\n]             27
[\nLT67679\n]             27
                          ..
[\nBCD1332\n]              1
[\nE84_474_6130_158\n]     1
[\n101\n]                  1
[\n418394\n]               1
[\n497717\n]               1
Name: Offer Number, Length: 11440, dtype: int64

In [66]:
df.drop("Offer Number", axis=1, inplace=True)

### First Registration

In [67]:
df["First Registration"].value_counts()

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
Name: First Registration, dtype: int64

In [68]:
df["First Registration"] = df["First Registration"].str[1]

In [69]:
df["First Registration"] = df["First Registration"].astype("float")

In [70]:
df["First Registration"].value_counts(dropna=False)

2018.000    4522
2016.000    3674
2017.000    3273
2019.000    2853
nan         1597
Name: First Registration, dtype: int64

In [71]:
df["age"]= 2019-df["First Registration"]

In [72]:
df.drop("First Registration", axis=1, inplace=True)

### Body Color

In [73]:
df["Body Color"].value_counts(dropna=False)

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [74]:
df.drop("Body Color", axis=1, inplace=True)

### Paint Type

In [75]:
df["Paint Type"].value_counts(dropna=False)

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [76]:
df["Paint_Type"] = df["Paint Type"].str[0].str.strip("\n")
df["Paint_Type"] = df["Paint_Type"].str.replace("/", " ")

In [77]:
df.Paint_Type.value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni basic       347
Perl effect       6
Name: Paint_Type, dtype: int64

In [78]:
df.drop("Paint Type", axis=1, inplace=True)

### Body Color Original

In [79]:
df["Body Color Original"].value_counts(dropna=False)

NaN                             3759
[\nOnyx Schwarz\n]               338
[\nBianco\n]                     282
[\nMythosschwarz Metallic\n]     238
[\nBrillantschwarz\n]            216
                                ...
[\nBianca - Tetto Nero\n]          1
[\ndezir rot\n]                    1
[\nnero/tetto argento met\n]       1
[\nPython Yellow Metallic\n]       1
[\nkarbongrau\n]                   1
Name: Body Color Original, Length: 1928, dtype: int64

In [80]:
df.drop("Body Color Original", axis=1, inplace=True)

### Upholstery

In [81]:
df.Upholstery.value_counts(dropna=False)

[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nCloth, Blue\n]              12
[\nBrown\n]                    12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nPart leather, Beige\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, White\n]       2
[\nalcantara, Other\n]          2
[\nBlue\n]                      2
[\nOther, Brown\n]              1
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
[\nCloth, Orange\n]             1
Name: Upholstery, dtype: int64

In [82]:
df["Upholstery"] = [item[0] if type(item) == list else item for item in df.Upholstery]
df["Upholstery"].value_counts(dropna=False)

\nCloth, Black\n           5821
NaN                        3720
\nPart leather, Black\n    1121
\nCloth\n                  1005
\nCloth, Grey\n             891
\nCloth, Other\n            639
\nFull leather, Black\n     575
\nBlack\n                   491
\nGrey\n                    273
\nOther, Other\n            182
\nPart leather\n            140
\nFull leather\n            139
\nPart leather, Grey\n      116
\nFull leather, Brown\n     116
\nOther, Black\n            110
\nFull leather, Other\n      72
\nFull leather, Grey\n       67
\nPart leather, Other\n      65
\nOther\n                    56
\nPart leather, Brown\n      50
\nalcantara, Black\n         47
\nFull leather, Beige\n      36
\nVelour, Black\n            36
\nCloth, Brown\n             28
\nVelour\n                   16
\nOther, Grey\n              15
\nCloth, Beige\n             13
\nBrown\n                    12
\nCloth, Blue\n              12
\nCloth, White\n              8
\nVelour, Grey\n              8
\nalcantara, Grey\n           6
\nCloth, Red\n                5
\nOther, Yellow\n             4
\nBeige\n                     3
\nPart leather, Red\n         3
\nalcantara, Other\n          2
\nPart leather, Beige\n       2
\nWhite\n                     2
\nBlue\n                      2
\nalcantara\n                 2
\nFull leather, Blue\n        2
\nPart leather, White\n       2
\nOther, Brown\n              1
\nFull leather, Red\n         1
\nFull leather, White\n       1
\nCloth, Orange\n             1
Name: Upholstery, dtype: int64

In [83]:
df["Upholstery"] = df.Upholstery.str.strip("\n").str.split(", ")

In [84]:
df["Upholstery"].value_counts(dropna=False)

[Cloth, Black]           5821
NaN                      3720
[Part leather, Black]    1121
[Cloth]                  1005
[Cloth, Grey]             891
[Cloth, Other]            639
[Full leather, Black]     575
[Black]                   491
[Grey]                    273
[Other, Other]            182
[Part leather]            140
[Full leather]            139
[Full leather, Brown]     116
[Part leather, Grey]      116
[Other, Black]            110
[Full leather, Other]      72
[Full leather, Grey]       67
[Part leather, Other]      65
[Other]                    56
[Part leather, Brown]      50
[alcantara, Black]         47
[Velour, Black]            36
[Full leather, Beige]      36
[Cloth, Brown]             28
[Velour]                   16
[Other, Grey]              15
[Cloth, Beige]             13
[Cloth, Blue]              12
[Brown]                    12
[Velour, Grey]              8
[Cloth, White]              8
[alcantara, Grey]           6
[Cloth, Red]                5
[Other, Yellow]             4
[Beige]                     3
[Part leather, Red]         3
[Part leather, Beige]       2
[Full leather, Blue]        2
[alcantara]                 2
[White]                     2
[Part leather, White]       2
[alcantara, Other]          2
[Blue]                      2
[Other, Brown]              1
[Full leather, Red]         1
[Full leather, White]       1
[Cloth, Orange]             1
Name: Upholstery, dtype: int64

In [85]:
u_type = ["Cloth", 'Part leather', 'Full leather', 'Velour', 'alcantara']
df["Upholstery_type"] = df["Upholstery"].apply(lambda x : x[0] if type(x) == list and x[0] in u_type else np.nan)

In [86]:
df["Upholstery_type"].value_counts(dropna=False)

Cloth           8423
NaN             4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: Upholstery_type, dtype: int64

In [87]:
df.drop("Upholstery", axis=1, inplace=True)

### Body

In [88]:
df.Body.value_counts()

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [89]:
df.drop("Body", axis=1, inplace=True)

### Nr. of Doors

In [90]:
df["Nr. of Doors"].value_counts(dropna=False)

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [91]:
df["Nr_of_Doors"]=df["Nr. of Doors"].str[0].str.strip("\n")

In [92]:
df["Nr_of_Doors"].value_counts(dropna=False)

5      11575
4       3079
3        832
2        219
NaN      212
1          1
7          1
Name: Nr_of_Doors, dtype: int64

In [93]:
df["Nr_of_Doors"]=df["Nr_of_Doors"].astype("float")

In [94]:
df.drop("Nr. of Doors", axis=1, inplace=True)

### Nr. of Seats

In [95]:
df["Nr. of Seats"].value_counts(dropna=False)

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [96]:
df["Nr_of_Seats"]=df["Nr. of Seats"].str[0].str.strip("\n")

In [97]:
df["Nr_of_Seats"].value_counts(dropna=False)

5      13336
4       1125
NaN      977
7        362
2        116
6          2
3          1
Name: Nr_of_Seats, dtype: int64

In [98]:
df["Nr_of_Seats"]=df["Nr_of_Seats"].astype("float")

In [99]:
df.drop("Nr. of Seats", axis=1, inplace=True)

### Model Code

In [100]:
df["Model Code"].value_counts()

[\n0035/BCB\n]    268
[\n0588/BNO\n]    245
[\n0588/BDB\n]    206
[\n0588/BHX\n]    188
[\n1844/ADJ\n]    175
                 ...
[\n0035/BHX\n]      1
[\n0035/AWM\n]      1
[\n0035/BBT\n]      1
[\n0035/AND\n]      1
[\n0035/ASN\n]      1
Name: Model Code, Length: 232, dtype: int64

In [101]:
df.drop("Model Code", axis=1, inplace=True)

### Gearing Type

In [102]:
df["Gearing Type"].value_counts(dropna=False)

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [103]:
df["Gearing_Type"]=df["Gearing Type"].str[1]

In [104]:
df["Gearing_Type"].value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing_Type, dtype: int64

In [105]:
df.drop("Gearing Type", axis=1, inplace=True)

### Displacement

In [106]:
df.Displacement.value_counts(dropna=False)

[\n1,598 cc\n]     4761
[\n999 cc\n]       2438
[\n1,398 cc\n]     1314
[\n1,399 cc\n]      749
[\n1,229 cc\n]      677
[\n1,956 cc\n]      670
[\n1,461 cc\n]      595
[\n1,490 cc\n]      559
NaN                 496
[\n1,422 cc\n]      467
[\n1,197 cc\n]      353
[\n898 cc\n]        351
[\n1,395 cc\n]      320
[\n1,968 cc\n]      301
[\n1,149 cc\n]      288
[\n1,618 cc\n]      212
[\n1,798 cc\n]      210
[\n1,498 cc\n]      196
[\n1,600 cc\n]      130
[\n1,248 cc\n]      110
[\n1,997 cc\n]      103
[\n1,364 cc\n]      102
[\n1,400 cc\n]       90
[\n998 cc\n]         72
[\n1,500 cc\n]       50
[\n2,000 cc\n]       46
[\n1,000 cc\n]       40
[\n1 cc\n]           36
[\n1,998 cc\n]       25
[\n2,480 cc\n]       20
[\n1,984 cc\n]       18
[\n1,200 cc\n]       18
[\n899 cc\n]         11
[\n1,397 cc\n]       11
[\n160 cc\n]          6
[\n1,499 cc\n]        5
[\n929 cc\n]          5
[\n997 cc\n]          4
[\n1,596 cc\n]        4
[\n900 cc\n]          4
[\n139 cc\n]          4
[\n1,599 cc\n]        3
[\n1,396 cc\n]        3
[\n1,199 cc\n]        3
[\n1,495 cc\n]        2
[\n995 cc\n]          2
[\n1,300 cc\n]        2
[\n2 cc\n]            2
[\n1,589 cc\n]        2
[\n1,896 cc\n]        1
[\n1,580 cc\n]        1
[\n1,584 cc\n]        1
[\n1,568 cc\n]        1
[\n54 cc\n]           1
[\n996 cc\n]          1
[\n1,696 cc\n]        1
[\n890 cc\n]          1
[\n1,100 cc\n]        1
[\n1,995 cc\n]        1
[\n1,533 cc\n]        1
[\n1,496 cc\n]        1
[\n16,000 cc\n]       1
[\n1,856 cc\n]        1
[\n2,967 cc\n]        1
[\n1,333 cc\n]        1
[\n1,195 cc\n]        1
[\n1,198 cc\n]        1
[\n122 cc\n]          1
[\n1,390 cc\n]        1
[\n1,369 cc\n]        1
[\n1,350 cc\n]        1
[\n1,239 cc\n]        1
[\n973 cc\n]          1
[\n1,800 cc\n]        1
[\n140 cc\n]          1
[\n15,898 cc\n]       1
[\n1,686 cc\n]        1
[\n1,368 cc\n]        1
Name: Displacement, dtype: int64

In [107]:
df["Displacement_cc"]= df.Displacement.str[0].str.strip("\n")

In [108]:
df["Displacement_cc"] = df["Displacement_cc"].str.replace(",","").str.rstrip(" cc")

In [109]:
df["Displacement_cc"]=df["Displacement_cc"].astype("float")

In [110]:
df.drop("Displacement", axis=1, inplace=True)

### Cylinders

In [111]:
df.Cylinders.value_counts(dropna=False)

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n2\n]       2
[\n8\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [112]:
df["Cylinders"]=df["Cylinders"].str[0].str.strip("\n").astype("float")

In [113]:
df.Cylinders.value_counts(dropna=False)

4.000    8105
nan      5680
3.000    2104
5.000      22
6.000       3
2.000       2
8.000       2
1.000       1
Name: Cylinders, dtype: int64

### Weight

In [114]:
df.Weight.value_counts(dropna=False)

NaN               6974
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,030 kg\n]       1
[\n1,206 kg\n]       1
[\n1,492 kg\n]       1
[\n1,057 kg\n]       1
[\n1,939 kg\n]       1
Name: Weight, Length: 435, dtype: int64

In [115]:
df["Weight_kg"]= df.Weight.str[0].str.strip("\n")

In [116]:
df["Weight_kg"] = df["Weight_kg"].str.replace(",","").str.rstrip(" kg")

In [201]:
df["Weight_kg"]= df["Weight_kg"].astype("float")

In [202]:
df["Weight_kg"].value_counts(dropna=False)

nan         6974
1163.000     574
1360.000     356
1165.000     301
1335.000     242
            ...
900.000        1
1650.000       1
1428.000       1
2355.000       1
1523.000       1
Name: Weight_kg, Length: 435, dtype: int64

In [118]:
df.drop("Weight", axis=1, inplace=True)

### Drive chain

In [119]:
df["Drive chain"].value_counts(dropna=True)

[\nfront\n]    8886
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [120]:
df["Drive_chain"]=df["Drive chain"].str[0].str.strip("\n")

In [121]:
df.drop("Drive chain", axis=1, inplace=True)

### Fuel

In [122]:
df.Fuel.value_counts(dropna=False)

[\n, Diesel (Particulate Filter), \n]                                                                                                       4315
[\n, Super 95, \n]                                                                                                                          3338
[\n, Gasoline, \n]                                                                                                                          3175
[\n, Diesel, \n]                                                                                                                            2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                                      424
[\n, Regular/Benzine 91, \n]                                                                                                                 354
[\n, Super E10 95, \n]                                                                                                                       331
[\n, Super 95 (Particulate Filter), \n]                                                                                                      268
[\n, Super 95 / Super E10 95, \n]                                                                                                            131
[\n, Regular/Benzine 91 (Particulate Filter), \n]                                                                                            100
[\n, Super 95 / Super Plus 98, \n]                                                                                                            85
[\n, Gasoline (Particulate Filter), \n]                                                                                                       77
[\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98, \n]                                                                         40
[\n, Super E10 95 / Super 95, \n]                                                                                                             38
[\n, CNG, \n]                                                                                                                                 33
[\n, Super 95 / Super E10 95 (Particulate Filter), \n]                                                                                        25
[\n, Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98, \n]                                                                         19
[\n, LPG, \n]                                                                                                                                 16
[\n, Super 95 / Super Plus 98 (Particulate Filter), \n]                                                                                       14
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98, \n]                           13
[\n, Regular/Benzine E10 91, \n]                                                                                                              11
[\n, Liquid petroleum gas (LPG), \n]                                                                                                          10
[\n, Super 95 / Super Plus 98 / Super E10 95, \n]                                                                                              8
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98, \n]                            7
[\n, Super E10 95 (Particulate Filter), \n]                                                                                                    7
[\n, Super Plus 98, \n]                                                                                                                        7
[\n, Regular/Benzine 91 / Regular/Benzine E10 91, \n]                                                                                          7
[\n, Others, \n]                                                                                                                               5
[\n, Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95, \n]                                                                          5
[\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter), \n]                                                     4
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]                            4
[\n, Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                                                          4
[\n, Electric/Gasoline, \n]                                                                                                                    4
[\n, Super E10 95 / Super Plus E10 98, \n]                                                                                                     4
[\n, CNG (Particulate Filter), \n]                                                                                                             3
[\n, Super E10 95 / Super 95 / Super Plus 98, \n]                                                                                              3
[\n, Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter), \n]                                                     3
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98, \n]                                                                                        2
[\n, Super E10 95 / Regular/Benzine 91, \n]                                                                                                    2
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91, \n]                            2
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                                         1
[\n, Super 95 / Super E10 95 / Super Plus E10 98, \n]                                                                                          1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91, \n]                                                                1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95, \n]                                                                1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91, \n]                            1
[\n, Super 95 / Regular/Benzine E10 91, \n]                                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98, \n]                            1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91, \n]                            1
[\n, Electric, \n]                                                                                                                             1
[\n, Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91, \n]                            1
[\n, Super Plus 98 / Regular/Benzine 91, \n]                                                                                                   1
[\n, Super 95 / Regular/Benzine 91 (Particulate Filter), \n]                                                                                   1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]                            1
[\n, Super 95 / Super E10 95 / Regular/Benzine 91, \n]                                                                                         1
[\n, Super 95 / Super E10 95 / Super Plus 98, \n]                                                                                              1
[\n, Super 95 / Super Plus 98 / Super Plus E10 98, \n]                                                                                         1
[\n, Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98, \n]                            1
[\n, Super 95 / Regular/Benzine E10 91 / Super E10 95, \n]                                                                                     1
[\n, Regular/Benzine 91 / Super 95 / Super E10 95, \n]                                                                                         1
[\n, Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91, \n]                            1
[\n, Regular/Benzine 91 / Super 95, \n]                                                                                                        1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98, \n]                                                                                        1
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter), \n]       1
[\n, Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98, \n]                            1
[\n, Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95, \n]                                                                          1
[\n, Super 95 / Biodiesel, \n]                                                                                                                 1
[\n, Biogas, \n]                                                                                                                               1
[\n, Super Plus 98 / Super 95 / Super E10 95, \n]                                                                                              1
[\n, Others (Particulate Filter), \n]                                                                                                          1
[\n, Super Plus E10 98, \n]                                                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                                               1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                                         1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]                            1
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]                            1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                                     1
[\n, Domestic gas H, \n]                                                                                                                       1
Name: Fuel, dtype: int64

In [123]:
df.Fuel=df.Fuel.str[1].str.split("/").str[0].str.strip()

In [124]:
df.Fuel=df.Fuel.str.split("(").str[0].str.strip()

In [125]:
df.Fuel.value_counts()

Diesel                  7299
Super 95                4368
Gasoline                3252
Regular                  503
Super E10 95             409
CNG                       36
LPG                       16
Super Plus 98             11
Liquid petroleum gas      10
Others                     6
Electric                   5
Super Plus E10 98          2
Domestic gas H             1
Biogas                     1
Name: Fuel, dtype: int64

In [126]:
benzine = ["Gasoline", "Super 95","Regular","Super E10 95","Super Plus 98","Super Plus E10 98", "Others"]
lpg = ["LPG","Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]
def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else:
        return x
df["Fuel"] = df.Fuel.apply(fueltype)

In [127]:
df.Fuel.value_counts(dropna=False)

Benzine     8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: Fuel, dtype: int64

### Consumption

In [128]:
df.Consumption.value_counts(dropna=False)

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[3.6 l/100 km (comb)], [], [4.4 l/100 km (country)]]                                    1
[\n, 4.8 l/100 km (comb), \n, 5.6 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[7.6 l/100 km (comb)], [], []]                                                          1
[[5.6 l/100 km (comb)], [7.6 l/100 km (city)], [4.4 l/100 km (country)]]                 1
[\n, 4.7 l/100 km (comb), \n, \n, \n]                                                    1
Name: Consumption, Length: 882, dtype: int64

In [129]:
def comb(x):
    if type(x) == float:
        return np.nan
    elif type(x[0]) == list:
        if x[0] != []:
            return x[0][0]
        else:
            return np.nan
    else:
        return x[1]

In [130]:
df["Consumption_comb"]= df.Consumption.apply(comb).str.extract('(\d*.\d*)')[0].astype("float")

In [131]:
df.Consumption_comb.value_counts(dropna=False).head()

nan      2033
5.400     770
3.900     733
4.000     713
5.100     657
Name: Consumption_comb, dtype: int64

In [199]:
df.drop("Consumption", axis=1, inplace=True)

### CO2 Emission

In [132]:
df["CO2 Emission"].value_counts(dropna=False)

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n193 g CO2/km (comb)\n]         1
[\n171 g CO2/km (comb)\n]         1
[\n990 g CO2/km (comb)\n]         1
[\n1,060 g CO2/km (comb)\n]       1
[\n183 g CO2/km (comb)\n]         1
Name: CO2 Emission, Length: 124, dtype: int64

In [133]:
df["CO2_Emission"]= df["CO2 Emission"].str[0].str.strip("\n").str.rstrip(" g CO2/km (comb)").str.replace(",",".").astype("float")

In [134]:
df["CO2_Emission"].value_counts()

120.000    740
99.000     545
97.000     537
104.000    501
10.000     477
          ...
45.000       1
181.000      1
331.000      1
193.000      1
253.000      1
Name: CO2_Emission, Length: 120, dtype: int64

In [135]:
df.drop("CO2 Emission", axis=1,inplace=True)

### Emission Class

In [138]:
df["Emission Class"].value_counts(dropna=False)

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [142]:
df["Emission_Class"]=df["Emission Class"].str[0].str.strip("\n")

In [143]:
df["Emission_Class"].value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission_Class, dtype: int64

In [146]:
df.Emission_Class.replace({"Euro 6d-TEMP":"Euro 6", "Euro 6c":"Euro 6", "Euro 6d":"Euro 6"}, inplace=True)

In [147]:
df["Emission_Class"].value_counts(dropna=False)

Euro 6    12173
NaN        3628
Euro 5       78
Euro 4       40
Name: Emission_Class, dtype: int64

In [148]:
df.drop("Emission Class", axis=1, inplace=True)

# description

In [150]:
df.description.value_counts(dropna=False)

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                30
[\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       27
[\nSichern Sie sich diesen RENAULT CLIO 1.2 TCE ENERGY INTENS zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei,  , Highlights,  , Navigationssystem mit Touchscreen-Farbdisplay (Media Nav Evolution),  , Scheinwerfer Full-LED,  , Einparkhilfe hinten ,  , 16? Pulse Leichtmetallfelgen ,  , Sitzheizung vorn, Komfort,  , Startanlage Handsfree Entry & Drive,  , Sitz vorn links höhenverstellbar,  , Multifunktionslenkrad in Leder ,  , Eco Mode (Fahrmodusschalter),  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch hinten und vorne mit Impulsgeber links vorn,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Rücksitzlehne geteilt/klappbar,  , Start/Stop-Anlage ,  , Komfort-Paket Plus,  , Mittelarmlehne vorn mit Ablagefach , Multimedia,  ,  , Radioempfang digital (DAB),  , 4 Lautsprecher ,  , Bluetooth Freisprecheinrichtung ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer, Licht und Sicht,  , Nebelscheinwerfer LED,  , Außenspiegel elektr. verstell-, heizbar-, und anklappbar,  , Heckscheibe heizbar ,  , Licht- und Regensensor ,  , Coming-Home-Lichtfunktion,  , Heckleuchten LED,  , Tagfahrlicht LED , Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Bremsassistent,  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP),  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC),  , Reserverad in Fahrbereifung,  , ISOFIX Kindersitzverankerung , Weiteres,  , Sonderlackierung Metallic Dezir Rot,  , Look-Paket Chrom (außen) ,  , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           27
[\nSichern Sie sich diesen Opel Astra K 1.4 SIDI Turbo Innovation Start/Stop zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt, mindestens 12 Monate gültige HU und AU,  , Highlights,  , Rückfahrkamera,  , Voll-LED-Matrix-Scheinwerfer (IntelliLux),  , Audio-Navigationssystem Navi 900 Europa Touch,  , Spurassistent,  , Leichtmetallfelgen , Komfort,  , Sitzheizung vorn,  , Klimaautomatik 2-Zonen,  , Parkpilotsystem vorn und hinten,  , 6-Stufen Automatikgetriebe,  , Tempomat (Geschwindigkeits-Regelanlage) mit Begrenzer ,  , Berganfahrassistent ,  , Servolenkung,  , Lendenwirbelstütze elektropneumatisch für Fahrer ,  , Kopfstützen vorn und hinten ,  , Multifunktionslenkrad in Leder, beheizbar ,  , Mittelarmlehne vorn verschiebbar,  , Zentralverriegelung mit Fernbedienung,  , Fensterheber elektrisch vorn + hinten,  , Berganfahr-Assistent (HSA, Hill Start Assist), Multimedia,  , 8 Zoll Touchscreen-Farbdisplay,  , Verkehrszeichenerkennung,  , Audiostreaming ,  , Apple CarPlay und Android Auto,  , 6 Lautsprecher ,  , Bluetooth-Freisprecheinrichtung ,  , Sprachsteuerung,  , Bordcomputer,  , Multimedia-Schnittstelle (USB / AUX-IN), Licht und Sicht,  , Außenspiegel elektrisch verstell-, heiz- und anklappbar,  , Abbiegelicht,  , LED Tagfahrlicht,  , Nebelscheinwerfer,  , Ambientebeleuchtung,  , Innenrückspiegel automatisch abblendend,  , Fernlichtassistent und Leuchtweitenregulierung ,  , Licht und Regensensor ,  , Wärmeschutzverglasung hinten abgedunkelt (Solar-Protect),  , LED Heckleuchten , Sicherheit,  , Abstandswarner,  , Auffahrwarnsystem,  , Isofix-Aufnahmen für Kindersitz an Rücksitz,  , Frontkamera,  , Airbag für Fahrer- und Beifahrerseite,  , Wegfahrsperre,  , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          27

In [151]:
df.drop("description", axis=1, inplace=True)

### Emission Label

In [152]:
df["Emission Label"].value_counts(dropna=False)

NaN                     11934
[\n4 (Green)\n]          3553
[\n1 (No sticker)\n]      381
[[], [], []]               40
[\n5 (Blue)\n]              8
[\n3 (Yellow)\n]            2
[\n2 (Red)\n]               1
Name: Emission Label, dtype: int64

In [153]:
df.drop("Emission Label", axis=1, inplace=True)

### Gears

In [155]:
df.Gears.value_counts(dropna=False)

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n4\n]        2
[\n3\n]        2
[\n1\n]        2
[\n50\n]       1
[\n2\n]        1
Name: Gears, dtype: int64

In [160]:
df["Gears"]= df.Gears.str[0].str.strip("\n").astype("float")

In [161]:
df["Gears"].value_counts(dropna=False)

6.000     5822
nan       4712
5.000     3239
7.000     1908
8.000      224
9.000        6
4.000        2
3.000        2
1.000        2
50.000       1
2.000        1
Name: Gears, dtype: int64

### Country version

In [162]:
df["Country version"].value_counts(dropna=False)

NaN                     8333
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nSerbia\n]               1
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
Name: Country version, dtype: int64

In [163]:
df.drop("Country version", axis=1, inplace=True)

###  Comfort & Convenience

In [164]:
df["Comfort & Convenience"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                     920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                 216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                              134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                       130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]    105
                                                                                                                                                                                                                                                                                                                                                                       ...
[Air conditioning, Armrest, Automatic climate control, Cruise control, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor]                                                                              1
[Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor]                                                                                                                      1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Start-stop system]                                                                                  1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                      1
[Air conditioning, Armrest, Automatic climate control, Auxiliary heating, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Seat heating]                                                   1
Name: Comfort & Convenience, Length: 6199, dtype: int64

In [167]:
df["Comfort & Convenience"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                     920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                 216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                              134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                       130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]    105
                                                                                                                                                                                                                                                                                                                                                                       ...
[Air conditioning, Armrest, Automatic climate control, Cruise control, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor]                                                                              1
[Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor]                                                                                                                      1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Start-stop system]                                                                                  1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                      1
[Air conditioning, Armrest, Automatic climate control, Auxiliary heating, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Seat heating]                                                   1
Name: Comfort & Convenience, Length: 6199, dtype: int64

In [171]:
def comfconv(a):
    if type(a) == list: 
        return [",".join(a)]
    else:
        return (a for a in df["Comfort & Convenience"])

In [172]:
df["Comfort_Convenience"]=df["Comfort & Convenience"].apply(comfconv).str[0]

In [175]:
df["Comfort_Convenience"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                   920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                    216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                        130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system    105
                                                                                                                                                                                                                                                                                                                                                     ...
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Seat heating,Start-stop system                         1
Air conditioning,Cruise control,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors rear,Power windows                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Park Distance Control,Parking assist system sensors rear,Power windows,Seat heating                                                                                                                                                 1
Air conditioning,Armrest,Automatic climate control,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system                                         1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Panorama roof,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                              1
Name: Comfort_Convenience, Length: 6199, dtype: int64

In [174]:
df.drop("Comfort & Convenience", axis=1, inplace=True)

###  Entertainment & Media

In [177]:
df["Entertainment & Media"].value_counts(dropna=False)

NaN                                                                                      1374
[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                         1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                     982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]          783
[On-board computer, Radio]                                                                487
                                                                                         ...
[Bluetooth, MP3, On-board computer, Sound system, USB]                                      1
[CD player, Hands-free equipment, On-board computer, Radio, Sound system, Television]       1
[Bluetooth, Digital radio, On-board computer, Sound system, USB]                            1
[CD player, Hands-free equipment, MP3, Radio, USB]                                          1
[CD player, Digital radio, Radio]                                                           1
Name: Entertainment & Media, Length: 347, dtype: int64

In [178]:
def enter(a):
    if type(a) == list: 
        return [",".join(a)]
    else:
        return (a for a in df["Entertainment & Media"])

In [181]:
df["Entertainment_Media"]=df["Entertainment & Media"].apply(enter).str[0]

In [182]:
df["Entertainment_Media"].value_counts(dropna=False)

NaN                                                                                               1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                        1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                     982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                           783
On-board computer,Radio                                                                            487
                                                                                                  ...
Digital radio,On-board computer,USB                                                                  1
CD player,Digital radio,On-board computer,USB                                                        1
Bluetooth,CD player,Digital radio,Radio,USB                                                          1
CD player,Hands-free equipment,Radio,Sound system,USB                                                1
Bluetooth,Digital radio,Hands-free equipment,MP3,On-board computer,Sound system,Television,USB       1
Name: Entertainment_Media, Length: 347, dtype: int64

In [183]:
df.drop("Entertainment & Media", axis=1, inplace=True)

### Extras

In [184]:
df.Extras.value_counts(dropna=False)

[Alloy wheels]                                                                                         3245
NaN                                                                                                    2962
[Alloy wheels, Touch screen]                                                                            697
[Alloy wheels, Voice Control]                                                                           577
[Alloy wheels, Touch screen, Voice Control]                                                             541
                                                                                                       ...
[Alloy wheels, Sport suspension, Touch screen, Trailer hitch, Voice Control]                              1
[Alloy wheels, Catalytic Converter, Handicapped enabled, Touch screen, Voice Control, Winter tyres]       1
[Ski bag, Sport suspension]                                                                               1
[Alloy wheels, Sport package, Sport seats, Sport suspension, Tuned car]                                   1
[Sport seats, Sport suspension, Voice Control]                                                            1
Name: Extras, Length: 660, dtype: int64

In [185]:
def extra(a):
    if type(a) == list: 
        return [",".join(a)]
    else:
        return (a for a in df["Extras"])

In [188]:
df["Extras"]=df["Extras"].apply(extra).str[0]

In [189]:
df.Extras.value_counts(dropna=False)

Alloy wheels                                                                                 3245
NaN                                                                                          2962
Alloy wheels,Touch screen                                                                     697
Alloy wheels,Voice Control                                                                    577
Alloy wheels,Touch screen,Voice Control                                                       541
                                                                                             ...
Alloy wheels,Catalytic Converter,Sport package,Sport seats,Trailer hitch                        1
Catalytic Converter,Roof rack,Touch screen,Voice Control,Winter tyres                           1
Alloy wheels,Shift paddles,Ski bag,Sport package,Touch screen,Trailer hitch,Voice Control       1
Cab or rented Car,Sport package,Sport seats,Sport suspension                                    1
Sport seats,Sport suspension,Trailer hitch,Voice Control                                        1
Name: Extras, Length: 660, dtype: int64

###  Safety & Security

In [190]:
df["Safety & Security"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                        982
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                 538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                             480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                           275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                     272
                                                                                                                                                                                                                                                                                                                                                                                          ...
[ABS, Adaptive Cruise Control, Central door lock, Driver-side airbag, Electronic stability control, Emergency brake assistant, Isofix, Lane departure warning system, Passenger-side airbag, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                 1
[ABS, Adaptive headlights, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system]                                          1
[ABS, Alarm system, Central door lock, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                           1
[ABS, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Fog lights, Head airbag, Immobilizer, Isofix, Lane departure warning system, Passenger-side airbag, Power steering, Rear airbag, Side airbag, Tire pressure monitoring system, Traction control]      1
[ABS, Central door lock with remote control, Daytime running lights, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Head airbag, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                        1
Name: Safety & Security, Length: 4444, dtype: int64

In [194]:
df["Safety_Security"]=[",".join(a) if type(a) == list else a for a in df["Safety & Security"]]

In [196]:
df["Safety_Security"].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                  982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                                         538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                                                    480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                                                                                                                   275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                                                              272
                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
ABS,Alarm system,Blind spot monitor,Driver drowsiness detection,Driver-side airbag,Electronic stability control,Fog lights,Head airbag,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition                                                                                                              1
Adaptive headlights,Alarm system,Blind spot monitor,Central door lock,Daytime running lights,Driver drowsiness detection,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Tire pressure monitoring system,Xenon headlights                                                                                                   1
ABS,Adaptive headlights,Alarm system,Blind spot monitor,Central door lock,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Fog lights,Head airbag,Immobilizer,Isofix,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition,Xenon headlights      1
ABS,Adaptive Cruise Control,Central door lock,Central door lock with remote control,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Headlights,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Traction control,Xenon headlights                                                                                                                                                                                        1
ABS,Adaptive headlights,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency system,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                            1
Name: Safety_Security, Length: 4444, dtype: int64

In [197]:
df.drop("Safety & Security", axis=1, inplace=True)

### The End of Part-1

In [205]:
df.shape

(15919, 28)

In [206]:
df.head(3).T

,0,1,2
make_model,Audi A1,Audi A1,Audi A1
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,56013.000,80000.000,83450.000
Type,Used,Used,Used
Cylinders,3.000,4.000,NaN
Fuel,Diesel,Benzine,Diesel
Gears,NaN,7.000,NaN
Extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control"
Previous_Owners,2.000,NaN,1.000
hp_kW,66.000,141.000,85.000
Inspection_new,Yes,NaN,NaN
age,3.000,2.000,3.000
Paint_Type,Metallic,NaN,Metallic
Upholstery_type,Cloth,Cloth,Cloth
Nr_of_Doors,5.000,3.000,4.000
Nr_of_Seats,5.000,4.000,4.000
Gearing_Type,Automatic,Automatic,Automatic
Displacement_cc,1422.000,1798.000,1598.000
Weight_kg,1220.000,1255.000,NaN
Drive_chain,front,front,front
Consumption_comb,3.800,5.600,3.800
CO2_Emission,99.000,129.000,99.000
Emission_Class,Euro 6,Euro 6,Euro 6
Comfort_Convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid..."
Entertainment_Media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer"
Safety_Security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D..."

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   14895 non-null  float64
 5   Type                 15917 non-null  object
 6   Cylinders            10239 non-null  float64
 7   Fuel                 15919 non-null  object
 8   Gears                11207 non-null  float64
 9   Extras               12957 non-null  object
 10  Previous_Owners      9279 non-null   float64
 11  hp_kW                15831 non-null  float64
 12  Inspection_new       3932 non-null   object
 13  age                  14322 non-null  float64
 14  Paint_Type           10147 non-null  object
 15  Upholstery_type      11048 non-null  object
 16  Nr_of_Doors          15707 non-null  float64
 17  Nr_of_Seats          14942 non-null  float64
 18  Gearing_Type         15919 non-null  object
 19  Displacement_cc      15423 non-null  float64
 20  Weight_kg            8945 non-null   object
 21  Drive_chain          9061 non-null   object
 22  Consumption_comb     13886 non-null  float64
 23  CO2_Emission         13483 non-null  float64
 24  Emission_Class       12291 non-null  object
 25  Comfort_Convenience  14999 non-null  object
 26  Entertainment_Media  14545 non-null  object
 27  Safety_Security      14937 non-null  object
dtypes: float64(11), int64(1), object(16)
memory usage: 3.4+ MB

In [203]:
df.to_csv("clean_scout.csv", index=False)